.dark-mode {
    background-color: #111;
    color: white;
}

.dark-mode h1 {
    color: rgb(33, 220, 20);
}

.secretHeader { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.secretHeader h1 {
    margin: 0;
}

#backButton {
    margin-left: auto;
}

body {
    background-color: white;
    color: black;
}

body.dark-mode {
    background-color: #111; 
    color: white;
}

ul {
    color: rgb(33, 220, 20);
}


div{
    display: flex;
    flex-wrap: wrap;
}

img {
  position: fixed;
  top: -60px;
  right: 0;
  width: 250px;
  height: auto;
}

p {
    color:black;
    position: fixed;
    bottom: 750px;
    right: 700px;
    left: 25px ;

}

#secretTitle {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: navy;
    font-size: 60px;
    position: fixed;
    top: 30px;
}

#normalLink {
    position: absolute;
    top: 200px;
    left: 20px; 

}


#normalImage2 {
    position: absolute;
    top:15px;
    left: -50px;
}

.navy-block {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 200px;
    background-color: navy;
}